services:
  ml-math:
    image: ml-math
    container_name: ml-math
    ports:
      - "8888:8888"
    volumes:
      - .:/workspace
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
